<!--<html>
    <head>
        <title>Crime Map</title>
    </head>
    <body>
        <h1>Crime Map</h1>
        <form method="POST" action="/add">
            <input type="text" name="userinput">
            <input type="submit" value="Submit">
        </form>
        <a href="/clear">clear</a>
        {% for userinput in data %}
            <p>{{userinput}}</p>
        {% endfor %}
    </body>
</html>-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
        </script>

        <script type="text/javascript">
            function initialize() {
                var mapOptions = {
                    center: new google.maps.LatLng(22.54851500000000,114.06611200000000),
                    zoom: 15
                };
                var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            }
        </script>
    </head>
    <body onload="initialize()">
        <div id="map-canvas" style="width:80%; height:500px;"></div>
    </body>
</html>

